*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    background-color:#e6e6fa;
}

.center{
    display:flex;
    flex-wrap: wrap;
    max-width: cover;
    margin: 0 auto;
    padding: 0;
}


html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    
}

header{
    height: 200px;
    padding: 20px 0;
    max-height: 100%;
}
.rodape{
    height: 20px;
    width: 100%;
    position: absolute;
    top: 120px;   
}

.logo{
    width: 50%;   
}
.menu{
    padding-top: 30px;
    width: 40%;
    text-align: right;
    
}
.menu a{
    color:black;
    text-decoration:none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}
section.sobre h1{
    position: absolute;
    top: -40px;
}
section.sobre p{
    position: absolute;
    bottom: 150px;
}
.texto-sobre button{
    position:absolute;
    bottom: 60px;
}
.texto-home h2{
    margin-top: 8%;
    font-size: 27px;
    position: absolute;
}

.extras{
    position: absolute;
    bottom: -400px;;
    right: -700px;;
    width:1170px;
    height:900px;
    border-radius: 50%;
    
}

.social-media{
    position: absolute;
    right:10px;
    top: -180px;
}

.social-media img{
    display: inline-block;
    width: 20px;
    margin: 10px ;
}

.texto-sobre{
    margin-top: 80px;
}

.texto-sobre h1{
    font-size: 50px;
}

.texto-sobre p{
    margin: 20px 0;
    color:black;
    font-size: 15px;
    font-weight: bold;
    max-width: 800px;
}

.texto-sobre button{
    border: 0;
    background-color: #280171;
    color:white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

/* PAGINA EMPRESAS*/ 
.parceiros{
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
    font-size: 20px; 
    padding: 2%;   
}
.empresastop {
    display: flex;
    text-align: center;
    color: blue;
    height: 10px;
}

/* CODIGO EMPRESAS  */

.card {
    display: flex;
    width: 340px;
    margin: 2px;
  }


  main > section {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
 
  .empresas{
    display: flex;
    justify-content: space-between;
  }
  .tituloempresas{
    position: absolute;
    top: 135px;
    left: 150px;
  }

  .copy{
    display: flex;
    position: absolute;
    top: 95%;
    left: 37%;
  }

  /*contatos*/

  .card-contatos > div {
    margin-left: 200px;    
  }

  .card-contatos {
    position: absolute;
    box-sizing: border-box;
    margin: 2px;
    left: 30%;
    top: 22%;
    box-shadow: 2px 2px 10px black;
    height: 250px;
    width: 500px;
    padding: 5%;
  }
  .social-media-contatos {
    position: absolute;
    right: 30%;
    bottom: 5%;
    margin: 30px;
 
  }
  .social-media-contatos img{
    margin:40px;
  }

  .card-contatos > p span {
    font-size: 15px;
  }

  .card-contatos h1{
    position: absolute;
    right: 25%;
    top: 10%;
  }

  .card-contatos h4{
    position: absolute;
    right: 17%;
    top: 80%;
  }

  .telefonemao{
    position: absolute;
    top: 30%;
    right:71%;
  }


  
